@media (min-width: 768px) {
    .mapamundi {
        background-image: url('/mapa-vintage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100% ;
    }
}
